# PROJECT 2

**DATA TYPES**

1.Mutable Data types : List , Set , Dictionary

2.Immutable Data types : Tuples , Integer , Float , Frozenset

**DATA STRUCTURES**

**1.TUPLES**

In [1]:
Tuple = (1,2,3,4,5)
Tuple

(1, 2, 3, 4, 5)

In [4]:
#methods of tuple
print(dir(Tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [5]:
#count of methods
len(dir(Tuple))

35

**COUNT method and INDEX method of Tuple**

In [8]:
example_1 = (1,2,3,4,5,6,7,7,6,7,3,7,2,1,1,8,3,1,1,9,2,1)
example_1

(1, 2, 3, 4, 5, 6, 7, 7, 6, 7, 3, 7, 2, 1, 1, 8, 3, 1, 1, 9, 2, 1)

In [9]:
len(example_1)

22

In [10]:
#1.To find number of times the 1 has occured in the tuple example_1:
example_1.count(1)

6

In [12]:
#2.To find the number of times 7 has occured in the tuple example_1:
example_1.count(7)

4

In [13]:
#3.To find the index number of 3 in the tuple example_1:
example_1.index(3)

2

In [14]:
#4.To find the index number of second occurence of 3 in the tuple example_1:
example_1.index(3,(example_1.index(3)+1))

10

In [15]:
#5.To find the index number of  second occurence of 6 in the tuple example_1:
example_1.index(6,(example_1.index(6)+1))

8

In [16]:
#6.To find the index of third occurence of 3 in the tuple example_1:(manually)
example_1.index(3,(10+1))

16

In [17]:
#7.To find the index of third occurence of 3 in the tuple example_1:(using indexes)
example_1.index(3,(example_1.index(3,(example_1.index(3)+1))+1))

16

**LOOPING on Tuples**

In [25]:
names = ("Jyoti","Nishant","Avyaansh","Dhanashree","shree","Preeti","Keerti","Nisha","Krishna","Radha","Usha","Isha","Emliee","Veer","Om")
print(names)

('Jyoti', 'Nishant', 'Avyaansh', 'Dhanashree', 'shree', 'Preeti', 'Keerti', 'Nisha', 'Krishna', 'Radha', 'Usha', 'Isha', 'Emliee', 'Veer', 'Om')

In [30]:
#8.Display names which are coming at indexes which are a multiple of 2:(looping on index)
for i in range(1,len(names)):
    if i%2 == 0:
      print("Index",i,".",names[i],end = "\n")

Index 2 . Avyaansh
Index 4 . shree
Index 6 . Keerti
Index 8 . Krishna
Index 10 . Usha
Index 12 . Emliee
Index 14 . Om

In [31]:
#9.Display names that start with vowels:
for i in names:
    if i.startswith("a") or i.startswith("A"):
        print(i)
    elif i.startswith("e") or i.startswith("E"):
        print(i)
    elif i.startswith("i") or i.startswith("I"):
        print(i)
    elif i.startswith("o") or i.startswith("O"):
        print(i)
    elif i.startswith("u") or i.startswith("U"):
        print(i)
    else:
        pass

Avyaansh
Usha
Isha
Emliee
Om

In [32]:
#10.Display names whose length is greater than 4:
for i in names:
    if len(i) > 4:
        print(i," ")

Jyoti
Nishant
Avyaansh
Dhanashree
shree
Preeti
Keerti
Nisha
Krishna
Radha
Emliee

In [42]:
#11.Forming a tuple using range() function:
numbers=tuple(range(1,101,1))
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [53]:
#12.To find the even numbers in the tuple numbers:
for i in numbers:
  if i%2 == 0:
     print(i,end=",")
print(" are the EVEN numbers in the given tuple.")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100, are the EVEN numbers in the given tuple.

In [57]:
#13.Swapping the two numbers in a tuple:
x = (10,20,30)
y = (40,50,60)
print("Before swapping","x:",x,"y:",y)
(x,y) = (y,x)
print("After swapping","x:",x,"y:",y)

Before swapping x: (10, 20, 30) y: (40, 50, 60)
After swapping x: (40, 50, 60) y: (10, 20, 30)

**LIST**

In [58]:
f = [15, 20, 23, 45, 60, 78, 91, 65, 78, 72, 60, 21, 35, 36, 40, 50, 88,33,11, 8, 4]

In [63]:
#14.Display the even values of the list:
for i in f:
    if i%2 == 0:
        print(i,end = " ")
print("are the even values in the list 'f'")

20 60 78 78 72 60 36 40 50 88 8 4 are the even values in the list 'f'

In [70]:
#15.Display the values from the list that are multiple of 5:
print("Multiples of 5 in the list:")
for i in f:
    if i%5 == 0:
        print(i)

Multiples of 5 in the list:
15
20
45
60
65
60
35
40
50

In [80]:
names = ['Galish', 'Akashay', 'Riya', 'kartik', 'Rani', 'Satish', 'Vishal', 'Jyoti', 'Dhanu', 'veer', 'Jaz', 'nirmala', 'Ankita', 'suraj','shraddha']

In [81]:
#16.Display the names at odd indexes:
for i in range(len(names)):
    if i%2 != 0:
        print(names[i])

Akashay
kartik
Satish
Jyoti
veer
nirmala
suraj

In [82]:
#17.Display the names at 5th and 9th index:
fifth_index_value = names[5]
fifth_index_value

'Satish'

In [83]:
ninth_index_value = names[9]
ninth_index_value

'veer'

In [86]:
#18.Append those names in a new list whose names are starting with 'S' or 's'. 
new_list = list()
for i in names:
 if  i.startswith('S') or i.startswith('s'):
  new_list.append(i)
print(new_list)

['Satish', 'suraj', 'shraddha']

In [87]:
#19.Creating a sorted merged list of two unsorted lists in Python
list1 = ["suraj", "anand", "gaurav", "aman", "kishore"]
list2 = ["rohan", "ram", "mohan", "priya", "komal"]

In [91]:
final_list = list1 + list2 
final_list.sort() 
print(final_list)

['aman', 'anand', 'gaurav', 'kishore', 'komal', 'mohan', 'priya', 'ram', 'rohan', 'suraj']

**SET**

In [92]:
#20.Add 32 to the set:
numbers = {21, 34, 54, 12}
print('Initial Set:', numbers)
numbers.add(32)
print('Updated Set:', numbers)

Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}

In [93]:
#21.find similar values in both sets:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)     #intersection=set1 & set2
print(intersection)

{2, 3}

In [95]:
#22.find the similar values in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
z

{'apple'}

In [96]:
#24.Join 3 sets, and return a set with items that is present in all 3 sets:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
result = x.intersection(y, z)           #x & y & z
print(result)

{'c'}

In [100]:
#25.Combine the elements of both the set into a single set:
A = {1,2,3}  
B = {3,4,5}
union_res=A.union(B)
union_res

{1, 2, 3, 4, 5}

In [2]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [3]:
#26. find the difference of two sets:(use of difference and difference update)
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70, 80}

In [4]:
s1.difference(s2)     #s1 - s2....elements present in s1 but not in s2

{10, 20}

In [7]:
s1.difference_update(s2)     #s1 - s2....elements present in s1 but not in s2 and updates the set s1

In [8]:
s1

{10, 20}

In [9]:
s2.difference(s1)    #s2 - s1....elements present in s2 but not in s1

{30, 40, 50, 60, 70, 80}

**LIST COMPREHENSION**

In [10]:
#27.Please add the given data in a new list after multiplying each number by 10.
NUM = [10,20,30,40,50]
output = [(i*10) for i in  NUM]
output

[100, 200, 300, 400, 500]

In [11]:
names = ['Manshi','Swagath','Vijay','Gaya','Sidhesh','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit']

In [30]:
#28.You have to enter the lengths of each name which is present at even indexes in a new list:
output_lengths = [(names[i],(len(names[i]))) for i in range(len(names)) if i%2==0]
print(dict(output_lengths))

{'Manshi': 6, 'Vijay': 5, 'Sidhesh': 7, 'Dhivya': 6, 'Bilal': 5, 'Yash': 4, 'Shiny': 5, 'Jaspreet': 8, 'Rasika': 6, 'Satyajit': 8}

In [32]:
#29.create a new list containing the double value of each element:
numbers = [1, 2, 3, 4]
doubled_numbers = [num * 2 for num in numbers]
print(doubled_numbers)

[2, 4, 6, 8]

In [33]:
#29.To find the square of each element in a list:
numbers = [1, 2, 3, 4, 5]
square_numbers = [num * num for num in numbers]
print(square_numbers)

[1, 4, 9, 16, 25]

In [42]:
#30.Categorise the numbers as even or odd in list numbers (if-else)condition:
numbers = [1, 2, 3, 4, 5, 6]
even_odd_list = ["Even" if i % 2 == 0 else "Odd" for i in numbers]
print(even_odd_list)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [43]:
#31.we find even numbers divisible by 5:(nested if condition)
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [47]:
#32.list comprehension on string:
L = [x*3 for x in 'RED']
print(L)

['RRR', 'EEE', 'DDD']

In [48]:
#33.find vowel in the string "Jyoti":
vowels = "aeiou"
result = [char for char in "Jyoti" if char in vowels]
print(result)

['o', 'i']

**FUNCTIONS**

In [57]:
#34.create a function to sum any amount of number you want to add: 
def sum(num1,num2):
    return num1+num2
a=int(input("Type the number you want to add?: "))
ask="Y"
while(ask=="Y" or ask=="y"):
  b=int(input("Type the next number you want to add?: "))
  c=sum(a,b)
  a=c
  ask=input("do you want to add another number?(Y/N): ")
else:
    c=a
    print ("result:",c)

Type the number you want to add?:  5
Type the next number you want to add?:  6
do you want to add another number?(Y/N):  y
Type the next number you want to add?:  6
do you want to add another number?(Y/N):  n

result: 17

In [58]:
#35.create a function to sum any amount of number you want to add:(using *args)
def my_sum(*args):
    total = 0
    for val in args:
        total += val
    return total

In [59]:
my_sum(1,5,8,4,9)

27

In [70]:
#36.create a udf which gives mean of the random values:
def my_mean(*args):
    sum = 0
    for i in args:
        sum = sum + i
        mean = sum/len(args)
    return mean

In [71]:
my_mean(1,2,6,5)

3.5

In [72]:
my_mean(10,50,60,39,89)

49.6

In [19]:
#37.Create udf which gives names starting withn a as an output:
Names = ["Avyaansh","Akashatha","Jyoti","VISHAL","Priya","Aliya"]
def get_names_starting_with_A(List):
           result = [i for i in List if i.startswith('A') or i.startswith('a')]
           print(result)

In [2]:
get_names_starting_with_A(Names)

['Avyaansh', 'Akashatha', 'Aliya']

In [18]:
#38.create udf to check if given number is prime or not:
def prime_no(num):
    for i in range(2,(num/2),1):
        if num % i == 0:
            print("Given number is not prime")
            break
        else:
             print("Given number is prime")

**LAMBDA FUNCTIONS**

In [3]:
#39.doubling all elements in a lis using lambda function:
my_list = [1, 2, 3, 4, 5]
new_list = list(map(lambda x: x * 2, my_list))
print(new_list)

[2, 4, 6, 8, 10]

In [5]:
#40.To find square of number using lambda function:
square = lambda x: x * x
print(square(5))  # Output: 10

25

In [6]:
#41.Determining if a number is even or odd using lambda function:
is_even = lambda x: 'even' if x % 2 == 0 else 'odd'
print(is_even(7))

odd

In [8]:
#42.Sorting a list of tuples by the second element:
points = [(3, 5), (1, 2), (4, 1)]
sorted_points = sorted(points, key=lambda p: p[1])
print(sorted_points)

[(4, 1), (1, 2), (3, 5)]

In [14]:
#43.Find all numbers divisible by 13 in given list using lambda function:
div_13 = lambda x: (x % 13 == 0)
result = list(filter(div_13,my_list))
print(result)

[65, 39, 221]

In [17]:
#44.To find all palindromes in list of strings:
my_list = ["malayalam", "noon","level", "practice", "madam"]
func_palindrome = lambda x: x == "".join(reversed(x))
result = list(filter(func_palindrome, my_list))
print(result)

['malayalam', 'noon', 'level', 'madam']

**Types of Inheritance**

** Single inheritance **

In [145]:
#45.Single inheritance(1 parent class and 1 child class)
class Person:
       def details(self, name, age):
        self.name = name
        self.age = age
        print(f"NAME:{self.name} AGE:{self.age}")
class Professor(Person):
     def isProfessor(self):
        print(f"{self.name} is a Professor,{self.age} years old.")
obj = Professor()
obj.details("Johny",30)

NAME:Johny AGE:30

In [146]:
obj.isProfessor()

Johny is a Professor,30 years old.

** Hierarchial inheritance **

In [77]:
#46.Hierarchial inheritance(1 parent class and 2 child class) 
class Person:
       def details(self, first_name, last_name, occupation):
        self.first_name = first_name
        self.last_name = last_name
        self.occupation = occupation
        print(f"Name:{self.first_name} {self.last_name} \nOccupation:{self.occupation}")
class Professor(Person):
     def isProfessor(self):
        print(f"{self.first_name} {self.last_name} is a Professor")
class Doctor(Person):
      def isdoctor(self):
        print(f"{self.first_name} {self.last_name} is a Doctor")
Doc=Doctor()
Prof=Professor()

In [78]:
Doc.details("Abhishek","Dhage","Doctor")
Doc.isdoctor()

Name:Abhishek Dhage
Occupation:Doctor
Abhishek Dhage is a Doctor


** Multilevel inheritance **

In [135]:
#47.Multilevel inheritance(grandparent class) 
class A:
    def fam_details(self,grandfather_name,father_name,child_name):
        self.grandfather_name = grandfather_name
        self.father_name = father_name
        self.child_name = child_name
        print(f"I am {self.grandfather_name} , {self.child_name}'s grandfather.")
class B(A):
    def father(self):
        print(f"I am {self.father_name} , {self.child_name}'s father.")
class C(B):
    def child(self):
        print(f"I am  {self.child_name}.")

In [136]:
grandchild = C()
grandchild.fam_details("Srinivas Dhage","kiran Dhage","Kiara Dhage")

I am Srinivas Dhage , Kiara Dhage's grandfather.

In [137]:
grandchild.father()

I am kiran Dhage , Kiara Dhage's father.

In [138]:
grandchild.child()

I am  Kiara Dhage.

** Multiple inheritance **

In [126]:
#48.multiple inheritance(multiple parent class and 1 child class):
class F:
    def father(self):
        print("I am father.")
class M:
    def mother(self):
        print("I am mother.")
class Child_M(F,M):
    def info(self):
        print("I am child.")

In [128]:
object=Child_M()
object.mother()

I am mother.

In [129]:
object.father()

I am father.

In [131]:
object.info()

I am child.

** Hybrid inheritance **

In [ ]:
#49.Hybrid inheritance:
class A:
    def fam_details(self,grandfather_name,father_name,mother_name,child_name):
        self.grandfather_name = grandfather_name
        self.father_name = father_name
        self.mother_name = mother_name
        self.child_name = child_name
        print(f"I am {self.grandfather_name} , {self.child_name}'s grandfather.")
class B(A):
    def father(self):
        print(f"I am {self.father_name} , {self.child_name}'s father.")
class C(B):
    def mother(self):
        print(f"I am {self.mother_name} , {self.child_name}'s mother.")
class D(B,C):
    def child(self):
        print(f"I am {self.child_name}.")